@font-face {
  src: url("../fonts/Helvetica/HelveticaNeueBd.ttf");
  font-family: helvetica-bold;
}
@font-face {
  src: url("../fonts/MRkVIm.ttf");
  font-family: times;
}
@font-face {
  src: url("../fonts/timesitalic.ttf");
  font-family: times-italic;
}
@font-face {
  src: url("../fonts/Helvetica/HelveticaNeue\ Light.ttf");
  font-family: helvetica-light;
}
@font-face {
  src: url("../fonts/Helvetica/HelveticaNeueMed.ttf");
  font-family: helvetica-med;
}
@font-face {
  src: url("../fonts/Helvetica/HelveticaNeue.ttf");
  font-family: helvetica;
}
:root {
  --main-color: #91bf1c;
  --sec-color: #3b19b8;
}

.text-primary {
  color: var(--sec-color) !important;
}
/* ================ Global ====================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100% !important;
}
.image-border-20 {
  border: 20px solid white;
}
body {
  font-family: helvetica !important;
  background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.9)
    ),
    url("../img/Gallery/fixed\ image-2.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.title {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: var(--sec-color);
  font-weight: 600;
  font-size: 25px;
  font-family: times;
}
.title span {
  background: #fff;
  padding: 0 10px;
}
.bg-transparent {
  background: transparent !important;
}
.border-50 {
  border-radius: 50px !important;
}
.bg-purple {
  background-color: var(--sec-color) !important;
}
.text-purple {
  color: var(--sec-color) !important;
  font-weight: 700;
}
.text-green {
  color: var(--main-color) !important;
}
.mt-6 {
  margin-top: 25% !important;
}
.w-80 {
  width: 90% !important;
}
.bg-white {
  background-color: white !important;
}
.bg-sec {
  background-color: rgba(145, 191, 28, 0.5);
}
.mr-7 {
  margin-right: 5rem;
}
/* ================== 1) Navbar ==================== */
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar {
  background: white;

  padding: 0 40px !important;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 11;
}
.navbar .nav-leave {
  position: absolute;
  right: 0;
  z-index: -9;
}
.navbar-brand img {
  height: 70px;
}
.navbar-nav li {
  padding: 50px 20px 21px 20px;
  font-size: 20px;
}
.navbar-nav li a {
  float: right;
  text-align: right;
  font-weight: 600;
}
.navbar .nav-btn i {
  padding: 0 8px;
  font-size: 18px;
  color: var(--sec-color);
  float: right;
  text-align: right;
}
.navbar-toggler {
  outline: none !important;
}
@media (max-width: 767.98px) {
  .navbar .nav-leave {
    display: none;
  }
  .navbar {
    padding: 0 0px !important;
  }
  .navbar-nav li {
    padding: 10px 20px 21px 20px;
    font-size: 20px;
    background-color: var(--main-color);
    border-bottom: 1px #f7f5f5 solid;
  }
  .navbar-brand img {
    margin: 10px;
  }
}
/* ================== 2) Banner ==================== */
#banner {
  position: relative;
  padding: 0;
  padding-top: 5%;
}

.banner-bottom-border {
  width: 100%;
  height: 36px;
  padding: 10px;
  background-color: var(--main-color);
}
#banner h1 {
  font-family: times !important;
  margin-top: 77px;
  font-weight: 800;
}
#banner h1 span {
  display: block;
  line-height: 48px;
}
#banner h1 span:nth-child(2) {
  font-weight: 800;
  font-size: 80px;
  margin-left: 26px;
}
#banner h1 span:nth-child(4) {
  margin-left: 26px;
}
#banner .leave {
  position: absolute;
  bottom: -40px;
  width: 90%;
  z-index: -111;
}

#banner .lady {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
}
.hero-img-1 {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
#banner #bgg {
  position: absolute;
  bottom: 0;
}

.hero-title {
}

@media (max-width: 786px) {
  #about .hero {
    top: -7px;
    position: relative;
  }
  .aunty {
    display: none;
  }
  .orders {
    order: 1;
  }
  #banner .leave {
    width: 100%;
    z-index: -111;
    height: 100vh;
  }
  .hero-row {
    display: flex !important ;
    flex-direction: row;
  }
}
/* ================== 3) Intro ==================== */
#intro {
  background: url(../img/Gallery/zeSGoB.png);
  background-size: cover;
  background-position: center;
  padding: 5% 10%;
}
#intro h1 {
  font-family: times;
  font-weight: 800;
  line-height: 50px;
}
#intro h1:nth-child(1) {
  font-size: 3.5rem;
  margin-top: 50px;
}
#intro h1:nth-child(2) {
  color: var(--sec-color);
  font-family: times-italic;
  font-size: 2.2rem;
  line-height: 1.5rem;
}
#intro h1:nth-child(3) {
  line-height: 1.5rem;
  font-family: times-italic;
}
#intro p {
  width: 70%;

  margin: 10px auto;
}
#intro img {
  height: 350px;
}
/* ================== 4) About Us ==================== */
#about {
  padding-top: 3%;
  background-color: #fff;
}

#about .sabziman {
  height: 310px;
}
#about .hero {
  background: url("../img/Gallery/Mask\ Group\ 8.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px;
  position: absolute;
  width: 100%;
  top: -20px;
}
#about .hero h2 {
  line-height: 30px;
}
#about .hero h2 {
  font-weight: 700;
  color: black;
  margin: 0 auto;
  margin: 0;
  line-height: 2.5rem !important;
}

#about .hero h2:nth-child(2) {
  color: var(--main-color);
  font-size: 5rem;
  font-weight: 800;
}
#about .hero h2:nth-child(4) {
  font-family: times-italic !important;
  margin-left: 50px !important;
}
@media (max-width: 576px) {
  #about .hero {
    top: -7px;
    position: relative;
  }
}
/* ================== 5) Subscription  ==================== */
#subscription {
  background: #f7f5f5;
  padding-top: 5%;
  position: relative;
}
#subscription p {
  font-weight: 600;
}

#subscription p:nth-child(2) {
  color: var(--sec-color);
}
#subscription .book {
  height: 350px;
  margin-right: auto;
  float: right;
}
#subscription input {
  height: 50px;
  border-radius: 50px;
  border: 1px solid gray;
  padding-left: 20px;
}
.myBtn {
  height: 40px;
  border-radius: 50px;
  border: none;
  padding: 10px 30px;
  background-color: var(--main-color);
  color: white;
}

/* ================== 6) Nutrition  ==================== */
#nutrition {
  position: relative;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("../img/Gallery/Mask\ Group\ 7.png");
  background-position: center;
  background-size: cover;
  padding: 8% 4%;
}
#nutrition .grid {
  position: absolute;
  top: 0;

  right: 20%;
}
#nutrition .group_7 {
  position: absolute;
  top: 150px;
  height: 760px;
  z-index: -99991;
}
#nutrition .nutrition-1,
#nutrition .nutrition-2 {
  height: 300px;
}

#nutrition .question-title {
  color: var(--sec-color);
}
/* ================== 7) Consltation  ==================== */
#consultation {
  background: url(../img/Gallery/svgs/Group\ 221.png);
  background-color: white;
  background-size: cover;
  background-position: center center;
  padding-top: 5%;
}
#consultation img {
  height: 90px;
  width: 90px;
}
#consultation .card {
  min-height: 500px;
  margin-top: 10px;
  max-height: 600px;
}
#consultation .consultation-duration {
  width: 140px;
  background: var(--sec-color);
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 4px 6px 14px rgba(51, 7, 153, 0.3);
  color: white;

  font-weight: 700;
  padding: 5px;
  font-size: 19px;
  line-height: 20px;
}
.consultation-duration p {
  line-height: 20px;

  margin: 0;
}
/* ================== 8) blog ==================== */
#blog {
  padding-top: 5%;
  background: #fff;
}
#blog .card {
  width: 20rem;
  margin-right: 40px;
}
/* ================== 9) Services ==================== */
#services {
  padding: 5% 4%;
  background: #fff;
}
#services .card {
  width: 100%;
}

#services .image {
  position: relative;
  display: inline-block;
  transition: 0.5s all;
}
#services .overlay {
  display: none;
  transition: 0.5s all;
}
#services .image:hover .overlay {
  width: 100%;
  height: 100%;
  background: rgba(15, 3, 185, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  font-size: 50px !important;
  -webkit-box-sizing: border-box;
  font-weight: 800;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* ================== 10) Contact ==================== */
#contact {
  background: white;
  padding: 0;
}
#contact .contact-holder {
  padding: 5% 4%;
  background: url(../img/Gallery/contact.png);
  background-size: cover;
  background-position: center;
}
/* ================== 11) Footer ==================== */

#footer {
  background: var(--main-color);
  z-index: 9999;
  font-family: times;
}
#footer .address-section {
  background-color: white;
  height: 100% !important;
  padding: 20px;
}
#footer .address-section p {
  line-height: 1.5rem;
  margin: 0;
  font-family: helvetica-med;
  font-size: 18px;
  color: rgb(129, 129, 129);
}
#footer .blog-section {
  padding: 2% 2%;
  color: #fff;
  text-align: right;
  font-weight: 800;
}
#footer .blog-section p:nth-child(1) {
  padding-top: 1%;
  text-transform: uppercase;
  font-size: 28px;
}
#footer .blog-section a {
  color: white;
  text-decoration: underline;
  letter-spacing: 0px;
  line-height: 1rem;
}
#footer .social-media {
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
}
#footer .social-media div {
  width: 50px;
  height: 50px;
  opacity: 0.5;
  margin: 15px 10px;
}

@media (max-width: 576px) {
  #footer .address-section {
    width: 100% !important;
  }
  #footer .blog-section {
    text-align: center;
  }
  #footer .social-media {
    justify-content: center;
  }
}
/* ================== 12) About Page ==================== */

/* ================== 13) About Page Banner ==================== */
.about-bg #banner {
  background: url("../img/Gallery/about-banner.png") no-repeat;
  background-size: cover;
  background-position: center end;
  position: relative;
  background-attachment: fixed;
  min-height: 100vh;
}
.about-bg #banner .banner-body {
  background: url(../img/Gallery/About\ page\ elements.png);
  background-size: cover;
  min-height: 100vh;
  background-position: right -80px;
}

.about-bg #banner .hero {
  display: flex;

  align-items: flex-start;
  justify-content: flex-end;
}
.about-bg #banner .hero .main-title {
  margin-top: 7%;
  width: 33%;
}
.about-bg #banner .hero .paragraphs {
  margin-top: 7%;
  width: 33%;
}
.about-bg #banner .hero h2 {
  font-weight: 700;
  color: black;
  margin: 0 auto;
  margin: 0;
  line-height: 2.5rem !important;
}

.about-bg #banner .hero h2:nth-child(1) {
  margin-left: 60px !important;
}

.about-bg #banner .hero h2:nth-child(2) {
  color: var(--main-color);
  font-size: 5rem;
  font-weight: 800;
}
.about-bg #banner .hero h2:nth-child(4) {
  font-family: times-italic !important;
  margin-left: 50px !important;
}
.about-bg #banner .paragraphs {
  align-self: flex-end;
  display: flex;
  width: 100%;
  background-color: red;
  justify-content: space-around;
}
.about-bg #banner .paragraphs p {
  width: 100%;
}
.paragraph {
  text-align: right;
  align-self: flex-end;
  justify-content: flex-end;
  font-weight: 1000;
  padding-left: 6%;
  width: 60%;
  margin-left: auto;

  font-family: helvetica-bold;
}
.paragraph p {
  font-weight: 800;
  margin: 10px;
  font-size: 12px;
  width: 50%;
}
.conversation {
  text-align: right;
  padding: 11% 0% 5% 4%;
}
.conversation h1,
h2 {
  margin: 0 !important;
  line-height: 2.6rem !important;
  font-weight: 800;
}
.conversation p {
  width: 50%;
  margin-left: auto;
  font-size: 14px;
  margin-top: 70px;
  font-family: helvetica-bold;
}

.conversation h2 {
  font-size: 2rem;
  margin-right: 70px !important;
}
.conversation h1 {
  font-size: 5rem;
  margin-right: 70px !important;
  color: #3b19b8;
}
.visit-btn {
  margin-left: auto;
  width: 50%;
  height: 100px;
  position: relative;
}
.visit-btn img {
  width: 50px;
  height: 50px;
  z-index: 99;
  position: absolute;
  left: 0;
  top: 0;
}
.visit-btn button {
  position: absolute;
  left: 30px;
}
.hire {
  width: 40%;
  padding-top: 7%;
  padding-bottom: 1%;
  margin-left: auto;
}
.hire h2 {
  margin: 0 !important;
  line-height: 2.7rem !important;
}
.hire h2 {
  font-weight: 3rem;
  font-weight: 800;
}
.hire h2:nth-child(2) {
  font-size: 5rem;
  color: var(--sec-color);
}
@media (max-width: 576px) {
  .about-bg #banner .hero .main-title {
    width: 100%;
  }
  .about-bg .bg-eclipse {
    display: none !important;
  }
  .paragraph {
    width: 100%;
  }

  .paragraph p {
    width: 100% !important;
  }
  .about-bg #banner .hero {
    padding-top: 20%;
    padding-left: 20%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .about-bg #banner .hero h2:nth-child(2) {
    font-size: 4rem;
  }
  .about-bg #banner .container {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
  }
  .about-bg #banner .banner-body {
    background: transparent;
  }
  .conversation h2 {
    font-size: 2rem;
  }
  .conversation h1 {
    font-size: 4rem;
    color: #3b19b8;
  }
  .conversation p {
    width: 100%;
  }
  .hire {
    width: 100%;
    flex-direction: column;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .about-bg #banner {
    height: auto;
  }
  .about-bg #banner .hero .main-title {
    width: 100%;
  }
  .paragraph {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
  }
  .paragraph p {
    width: 100% !important;
  }
  .about-bg #banner .hero {
    padding-top: 10%;
    padding-left: 20%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .about-bg #banner .hero h2:nth-child(2) {
    font-size: 5rem;
  }
  .about-bg #banner .container {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
  }
  .about-bg #banner .banner-body {
    background: transparent;
  }
  .conversation h2 {
    font-size: 2rem;
  }
  .conversation h1 {
    font-size: 4rem;
    color: #3b19b8;
  }
  .conversation p {
    width: 100%;
  }
  .hire {
    width: 100%;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .about-bg #banner .hero {
    padding-top: 10%;
    padding-left: 20%;
  }
  .about-bg #banner .hero .main-title {
    width: 60%;
  }
  .about-bg #banner {
    height: auto;
  }
  .about-bg #banner .hero h2:nth-child(2) {
    font-size: 6rem;
  }
  .about-bg #banner .container {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
  }
  .conversation h2 {
    font-size: 2rem;
  }
  .conversation h1 {
    font-size: 4rem;
    color: #3b19b8;
  }
  .conversation p {
    width: 100%;
  }
}
@media (min-width: 1370px) {
  .about-bg #banner .hero .main-title {
    margin-top: 10%;
  }
  .conversation {
    padding-top: 20%;
  }
  .conversation p {
    font-size: 16px;
  }
}
/* ================== 13) About Page Intro ==================== */
.about-bg #intro {
  padding: 0;
  padding-top: 14%;
  padding-bottom: 5%;
  position: relative;
  z-index: -1;
}
.about-bg #intro h1:nth-child(1) {
  font-size: 25px;
  margin: 0;
  margin-right: 17%;
  line-height: 30px;
}
.about-bg #intro h1:nth-child(2) {
  font-size: 40px;
  margin: 0;
  line-height: 30px;
  margin-right: 15%;
  color: var(--sec-color);
  margin-bottom: 10px;
}
.about-bg #intro p {
  font-size: 12px;
  font-weight: 800;
}
.about-bg #intro .bg-rectangle {
  background: url(../img/Gallery/Rectangle\ 55.png);
  background-size: cover;
  padding: 60px 56px;
  width: 35%;
}

.about-bg #intro .bg-rectangle .icon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.path-203 {
  position: absolute;
  top: 30%;
  left: -150px;
}
.repeat-grid {
  position: absolute;
  top: 10%;
  left: 0;
  width: 250px;
  height: 120px !important;
}
.about-bg #intro .bg-eclipse {
  background: url(../img/Gallery/Ellipse\ 6.png);
  background-size: cover;
  padding: 60px 56px;
  margin-top: -80px;
  width: 35%;
  z-index: 99;
}
.me {
  font-size: 60px;
  font-family: helvetica-bold;
}
@media (max-width: 767.98px) {
  .about-bg #intro .bg-rectangle {
    width: 100% !important;
  }
}
/* ================== 14) Contact Page ==================== */
.contact-bg #contact {
  background-color: rgba(98, 0, 255, 0.344);
}

.contact-bg #contact form {
  padding: 40px;
}
.contact-bg #contact form label {
  color: white;
}
/* ================== 15) services ==================== */

.services-bg #banner {
  background: url(../img/Gallery/Mask\ Group\ 32.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 7% 0;
  background-color: #fff;
  background-attachment: fixed;
}
.boxes {
  position: absolute;
  height: 150px;
  top: -60px;
  left: 140px;
}
.hero-left h1 {
  margin: 0;
  font-family: times;
  line-height: 1.5rem;
}
.hero-left h1:nth-child(2) {
  color: #3b19b8;
  font-family: times;
  font-weight: 800;
  font-size: 5rem;
}
.hero-right p {
  margin-top: 40px;
  width: 60%;
  margin-left: 5%;
}
.hero span {
  color: #3b19b8;
}
.times {
  font-family: times !important ;
}
.services-bg #support {
  padding: 4% 0%;
  background: #fff;
}

.services-bg h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  line-height: 3rem !important;
  font-family: times !important;
}
.services-bg #support h1:nth-child(2) {
  font-size: 5rem;
}
.services-bg #support h1:nth-child(3) {
  text-align: right;
}
.services-bg #testing {
  background-color: #f7f5f5;
}
.services-bg #testing h1 {
  color: var(--sec-color);
  font-weight: 800;
  font-size: 4rem;
}
.services-bg #testing .example {
  padding-top: 16%;
}
.services-bg #testing .example p {
  font-weight: 800;
  font-family: times;
}
/*  =================== 16 health ==================== */
.health-bg #banner {
  background: url("../img/Gallery/Group\ 239.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3% 4%;
}
.health-bg #banner .hero {
  text-align: left;
  color: white;

  display: inline-block;
  margin: 140px 0px 0px 110px;
}
.health-bg #banner h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  line-height: 1.9rem;
  margin: 0 !important;
}
.health-bg #banner h1 {
  font-size: 4rem;
}
.health-bg #poop {
  padding-bottom: 5%;
  background-color: rgb(226, 226, 226);
}
.health-bg #poop .card {
  background: transparent;
  position: relative;
  margin-bottom: 200px !important ;
}
.health-bg #poop .card img {
  border: 5px solid white;
  border-radius: 10px;
}
.health-bg #poop .card .card-title {
  background-color: #f5f2ff;

  position: absolute;
  bottom: -160px;
  border-radius: 10px;
}
.health-bg #poop .card .card-title .description {
  padding: 10px;
}
.health-bg #poop .card .author {
  background-color: var(--main-color);
  padding: 10px;
}
.health-bg #poop button {
  height: 50px;
  background-image: linear-gradient(to top, #957af9, #4b3d7d);
  border: none;
  text-transform: uppercase;
}

/* ========================= author ============================ */
.author-bg #banner {
  background: url("../img/Gallery/HMwWhv.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 14% 4% 6% 4%;
}
.author-bg #banner .hero {
  text-align: left;
  color: white;

  display: inline-block;
}
.author-bg #banner .hero h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  line-height: 2.4rem !important;
  margin: 0 !important;
}
.author-bg #banner .hero h1 {
  font-size: 4rem;
}
.author-bg #banner .hero h3 {
  font-size: 2rem;
  margin-left: 50px !important;
}
.author-bg #blogs {
  background: url(../img/Gallery/Group\ 240.png) no-repeat;
  background-size: cover;
  background-color: white;
  background-position: center;
}
.author-bg #blogs .card {
  background: transparent;
  position: relative;
  margin-bottom: 200px !important ;
}
.author-bg #blogs .card img {
  border: 5px solid white;
  border-radius: 10px;
}
.author-bg #blogs .card .card-title {
  background-color: #f5f2ff;

  position: absolute;
  bottom: -160px;
  border-radius: 10px;
}
.author-bg #blogs .card .card-title .description {
  padding: 10px;
}
.author-bg #blogs .card .author {
  background-color: var(--main-color);
  padding: 10px;
}
.author-bg #blogs i {
  color: var(--sec-color);
  margin: 10px 20px;
  font-size: 28px;
  font-weight: 800;
}
.author-bg .pagination {
  background: var(--sec-color);
  width: 25px;
  opacity: 0.4;
  color: white;
  height: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
}

.author-bg .active-pag {
  opacity: 1;
}
/* ====================== testimonials ============================ */
.testimonial-bg #banner {
  background: url("../img/Gallery/Group\ 241.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 15% 4% 7% 14%;
}
.testimonial-bg #banner .hero {
  text-align: left;
  color: white;
  display: inline-block;
}
.testimonial-bg #banner .hero h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  line-height: 2.4rem !important;
  margin: 0 !important;
}
.testimonial-bg #banner .hero h1 {
  font-size: 4rem;
}
.testimonial-bg #testimonial {
  padding: 4%;
  background-color: white;
}
.testimonial-bg #testimonial .col-md-1,
.testimonial-bg #testimonial .col-md-4,
.testimonial-bg #testimonial .col-md-6 {
  padding: 0;
  margin: 0;
}
.action-pane {
  background-color: var(--sec-color);
  height: 80px;
  width: 100%;
  position: relative;
}
.left-btn,
.right-btn {
  width: 100%;
  height: 80px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: var(--sec-color);
}

.img-person-overlay {
  height: 80px;
  width: 100%;
  position: absolute;

  top: 43%;
  background-color: rgba(59, 25, 184, 0.6);
}
.image-section {
  position: relative;
}
.test-quote {
  background-color: #91bf1c;
  width: 100%;
  height: 35vh;
  padding: 10% 7% 2% 7%;
  color: white;
}
.dreaming {
  width: 25px;
}
.test-name {
  font-size: 25px;
  font-family: times-italic;
  padding-left: 30px;
  color: #3b19b8;
}
.pages-no {
  color: var(--main-color);
}
.pages-no span {
  font-size: 4rem;
}
/* ================= recipes ================ */
.recipes-bg #banner {
  background: url("../img/Gallery/Group\ 259.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 15% 4% 7% 14%;
}
.recipes-bg #banner .hero {
  text-align: left;
  color: white;
  display: inline-block;
}
.recipes-bg #banner .hero h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  line-height: 2.4rem !important;
  margin: 0 !important;
}
.recipes-bg #banner .hero h1 {
  font-size: 4rem;
}
.recipes-bg #recipe {
  padding: 4%;
  background-color: white;
}
.dots {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: var(--sec-color);
  margin: 14px;
  opacity: 0.4;
}
.active-dots {
  opacity: 1;
}
.recipe-container {
  height: 92vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  padding: 20px 0px;
  font-family: helvetica-bold;
  background-color: #4f21f5;
}
.recipe-container .card {
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-bottom: 2px solid white;
}
.recipe-container .card p {
  color: white;
}
